<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Մուտք գործել</title>

</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form th:action="@{/login}" th:object="${loginModel}" class="form-signin" method="post">

                <div th:if="${loginError}" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <p>Սխալ հասցե կամ կամ գաղտանաբառ</p>
                </div>


                <label for="username" class="sr-only">Username</label>
                <input id="username" th:value="${loginModel.username}" name="username" class="form-control"
                       placeholder="Էլեկտրոնային հասցե" required=""
                       autofocus=""
                       type="email">
                <label for="password" class="sr-only">Password</label>
                <input id="password" th:value="${loginModel.password}" class="form-control" name="password"
                       placeholder="Գաղտնաբառ" required="" type="password">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Մուտք</button>
                </a>
            </form>
        </div>

    </div>


</div>


</body>
</html>